body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}

.nav{
    background-color: #373737;
    position: sticky;
    top: 0px;
    /* left: 200px; */
    /* overflow: auto; */
    /* margin-left: 200px; */
}

.nav::after{
    content: "";
    display: table;
    clear: both;
}
.nav-list{
    margin: 0px;
    padding: 0px;
}

.nav-item{
    float: left;
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    padding: 6px 10px;
    display: block;
    color: white;
}

.active{
    background-color: rgb(238, 119, 9);
}

.nav-link:hover:not(.active){
    background-color: teal;
}

/*###################### Left Sidebar ##################### */

.left-sidebar{
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    /* left: 0; */
    /* bottom: 0; */
    float: none;
    height: 100%;
  
    width: 200px;
    box-sizing: border-box;
}

.vnav-list-wrapper{
    /* border: 2px solid green; */
    position: relative;
    height: 100%;
}

.left-sidebar .site-brand{
    padding: 2px;
    display: block;
    /* height: auto; */
    text-decoration: none;
    position: sticky;
    top: 0px;
    color: white;
    /* background-color: rgb(7, 110, 136); */
    background-color: #373737;
    border-bottom: 2px solid rgb(0, 60, 68);
}

.left-sidebar .site-brand .brand-name{
    display: inline-block;
    vertical-align: middle;
}

.left-sidebar .site-brand .brand-img{
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}


/* ####### Vertical Nav LInk */
.vnav{
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    /* background-color: rgb(220, 221, 205); */
    background-color:rgb(34, 109, 132);
}

.vnav .vnav-list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.vnav .vnav-link{
    text-decoration: none;
    color: white;
    display: block;
    padding: 3px 5px;
}

.vnav .vnav-list > .vnav-item:hover{
    background-color: orange;
}

.vnav .vnav-list .vnav-item > .vnav-list .vnav-link{
    padding-left: 15px;
}

.vnav .vnav-list .vnav-list > .vnav-item:hover{
    background-color: orangered;
}

.vnav .vnav-list .vnav-list{
    display: none;
}

.vnav .vnav-list .vnav-item:hover .vnav-list{
    display: block;
}

/* Main Content */
.main{
    /* border: 2px solid blue; */
    /* padding: 5px; */
    margin-left: 200px;


    /* margin-top: calc(3.5rem + 1px); */
    
}



/* #### Form #### */
/* input[type="date"], textarea{
    width: 100%;
} */

.form-control{
    display: block;
    width: 100%;

}

.checkbox{
    /* position: relative; */
    display: block;
}

.radio{
    position: relative;
    display: block;
}

.form-group{
    margin-bottom: 5px;
}

.form-inline .form-group{
    display: inline-block;
    margin-bottom: 5;
    vertical-align: middle;
   
    /* border: 2px solid red; */
}
.form-inline .form-control{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
fieldset{
    width: 100%;
    border: 2px solid teal;
    padding: 5px;
}

label{
    font-size: 14px;
    display: inline-block;
    /* max-width: 100%; */
    /* margin-bottom: 5px; */
}

legend{
    color: teal;
    font-variant: small-caps;
    font-size: 18px;
}




/* Form Over */


.container-fluid{
    padding: 3px;
}



/* .row::after{
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding: 2px 4px;
} */


/* ##### CONTAINERS ########### */


/* #### TYPOGRAPHP ### */


.d-block{
    display: block;
    margin: auto;
}
/* Over Typography */


/* BUTTONS */
input[type="submit"]{
    padding: 3px 10px;
    background-color: rgb(7, 110, 136);
    border: none;
    border-radius: 3px;
    color: white;
}




/* ############## Responsive ################# */
@media screen and (max-width:768px) {
    .main{
        margin: 0px;
        width: 100%;
    }

    .left-sidebar{
        display: none;
    }
    
    /* .col-xsm-12{
        width: 100%;
    } */
}




/* COL PARTISIONS */


.row::after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
  padding: 5px;
  /* width: 100%; */
  /* border: 1px solid red; */
}







/* [class*="col-"] {
  width: 100%;
} */

    .col-1 {width: 8.33%; flex: 0 0 auto;}
    .col-2 {width: 16.66%; flex: 0 0 auto;}
    .col-3 {width: 25%; flex: 0 0 auto;}
    .col-4 {width: 33.33%; flex: 0 0 auto;}
    .col-5 {width: 41.66%; flex: 0 0 auto;}
    .col-6 {width: 50%; flex: 0 0 auto;}
    .col-7 {width: 58.33%; flex: 0 0 auto;}
    .col-8 {width: 66.66%; flex: 0 0 auto;}
    .col-9 {width: 75%; flex: 0 0 auto;}
    .col-10 {width: 83.33%; flex: 0 0 auto;}
    .col-11 {width: 91.66%; flex: 0 0 auto;}
    .col-12 {width: 100%; flex: 0 0 auto;}


 @media only screen and (min-width: 320px) {
  /* For Tablets: */
    .col-xxsm-1 {width: 8.33%;}
    .col-xxsm-2 {width: 16.66%;}
    .col-xxsm-3 {width: 25%;}
    .col-xxsm-4 {width: 33.33%;}
    .col-xxsm-5 {width: 41.66%;}
    .col-xxsm-6 {width: 50%;}
    .col-xxsm-7 {width: 58.33%;}
    .col-xxsm-8 {width: 66.66%;}
    .col-xxsm-9 {width: 75%;}
    .col-xxsm-10 {width: 83.33%;}
    .col-xxsm-11 {width: 91.66%;}
    .col-xxsm-12 {width: 100%;}
}

@media only screen and (min-width: 420px) {
  /* For Tablets: */
    .col-xsm-1 {width: 8.33%;}
    .col-xsm-2 {width: 16.66%;}
    .col-xsm-3 {width: 25%;}
    .col-xsm-4 {width: 33.33%;}
    .col-xsm-5 {width: 41.66%;}
    .col-xsm-6 {width: 50%;}
    .col-xsm-7 {width: 58.33%;}
    .col-xsm-8 {width: 66.66%;}
    .col-xsm-9 {width: 75%;}
    .col-xsm-10 {width: 83.33%;}
    .col-xsm-11 {width: 91.66%;}
    .col-xsm-12 {width: 100%;}
}

@media only screen and (min-width: 576px) { 
  /* For mobile phones: */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
} 

@media only screen and (min-width: 768px) {
  /* For desktop: */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}

@media only screen and (min-width: 1400px) {
  /* For desktop: */
    .col-xxl-1 {width: 8.33%;}
    .col-xxl-2 {width: 16.66%;}
    .col-xxl-3 {width: 25%;}
    .col-xxl-4 {width: 33.33%;}
    .col-xxl-5 {width: 41.66%;}
    .col-xxl-6 {width: 50%;}
    .col-xxl-7 {width: 58.33%;}
    .col-xxl-8 {width: 66.66%;}
    .col-xxl-9 {width: 75%;}
    .col-xxl-10 {width: 83.33%;}
    .col-xxl-11 {width: 91.66%;}
    .col-xxl-12 {width: 100%;}
}


